/*PAGE HEADER PAGINA PRINCIPALE */

.page_header {
    grid-area: page_header;
    /*Titolo*/
    text-align: center;
    padding: 37vh 0;
    /*Sfondo*/
    background-image: url("../IMG/sfondo1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.page_header h1 {
    display: block;
    font-size: 11vmin;
    font-weight: 500;
    line-height: 20vh;
    text-decoration: underline;
    text-decoration-color: orange;
    transition: background-color 0.5s ease;
}